

<style>
.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
}
</style>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col">

  	<div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">View Rankings</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Here you can view the latest rankings based on our ELO point rating system.
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://wm-pingpong.herokuapp.com/games/4">
      View Rankings
    </a>
  </div>
</div>

  </div>
  <div class="mdl-cell mdl-cell--4-col">
  	
<div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">Add Scores</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Here you can submit a new score and try to move up in the rankings.
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://wm-pingpong.herokuapp.com/games/4/results/new">
      Add Scores
    </a>
  </div>
</div>

  </div>
  <div class="mdl-cell mdl-cell--4-col">
  	
<div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">Add Players</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Create a new player or edit an existing one. Profile photos are handled via Gravatar.
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://wm-pingpong.herokuapp.com/players/new">
      Add Players
    </a>
  </div>
</div>


  </div>
</div>




<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col">

  	<div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">Other functionality</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Handful of admin settings and unfinished features in here.
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      View Admin
    </a>
  </div>
</div>

  </div>

  </div>
</div>




<div class="row-fluid">


	<div class='col-md-6'>
		<div class='well'>
			<h2>Players</h2>
			<%= link_to "New Player", new_player_path, class: "btn-primary" %>

			<ul id='players-list'>
				<% @players.each do |player| %>
					<li>
					<%= link_to player_path(player) do %>
						<%= image_tag(gravatar_url(player, size: 24)) %>
						<%= player.name %>
					<% end %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>


	<div class='col-md-6'>
		<h1>All Games</h1>
		<%= link_to "New Game", new_game_path, class: "btn btn-primary" %>

		<ul id='games-list'>
		<% @games.each do |game| %>
		  <li class="<%= "active" if @game == game %> game-list-item">
		    <%= link_to game_path(game) do %>
		    	<h3 class='game-title'><%= game.name %></h3>
		    	<ul class='game-params'>
  		    	<li class='rating-type'><%= game.rating_type %> – <%= game.allow_ties ? 'Ties allowed' : 'No ties' %></li>
            <li class='num-players'><%= game.players.length %> players</li>
            <li class='games-played'><%= game.results.length %> games played</li>

		    	</ul>

          <% result = game.recent_results.limit(1).first %>
          <% if result %>
            <div class='recent-result'>
              <h4>Last game</h4>
              <div class='description'>

                <% result.teams.each_with_index do |team, i| %>
                  <% team.players.each do |winner| %>
                    <span class='player'>
                      <strong><%= winner.name %></strong>
                    </span>
                  <% end %>
                  <% if i == 0 %>
                    <% if result.tie? %>
                      ties
                    <% else %>
                      defeated
                    <% end %>
                  <% end %>
                <% end %>
                <br/>
                <time><%= format_time(result.created_at) %></time>
              </div>
            </div>
          <% end %>


		    <% end %>
		  </li>
		<% end %>
		</ul>
	</div>

</div>


           

