<div class="container">
  <div class="row-fluid">
    <div class="col-md-12">
      <h1><%= @game.name %></h1><%= link_to 'Edit', edit_game_path(@game), class: "btn btn-warning btn-sm" %>
    </div>
  </div>

  <section class="action-buttons">
    <% if @game.results.empty? %>
      <%= link_to "Delete", game_path(@game), method: :delete, confirm: "Are you sure?", class: "btn btn-danger btn-sm" %>
    <% end %>
  </section>

  <div class="row-fluid">
      <div class="col-md-6">
        <h2>Player Ladder</h2>
        <table id='ratings' class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell">Player</th>
              <th class="mdl-data-table__cell--non-numeric">ELO Rating</th>
              <th class="mdl-data-table__cell--non-numeric">W</th>
              <th class="mdl-data-table__cell--non-numeric">L</th>
              <% if @game.allow_ties %>
                  <th class="mdl-data-table__cell--non-numeric">T</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <%= render partial: 'rating', collection: @game.all_ratings.select(&:active?) %>
          </tbody>
        </table>
        <%= link_to "View All", game_ratings_path(@game) %>
      </div>


    <div class="col-md-6">
      <h2>Recent Results</h2> <%= link_to "Add Score", new_game_result_path(@game), class: "btn btn-primary btn-sm" %>
      

      <% if @game.recent_results.any? %>
        <%= render partial: 'shared/results', object: @game.recent_results, locals: {show_game: false} %>
      <% else %>
        <span>No results, play some games!</span>
      <% end %>

    </div>
  </div>


  <div class="row">
    <h2>Rankings Over Time</h2>
    <%= line_chart @chart_data, min: nil, max: nil %>
  </div>
</div>