<!-- Wide card with share menu button -->
<style>
.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background:
    url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
</style>

<h1><%= @game.name %><%= link_to 'Edit', edit_game_path(@game), class: "btn btn-warning btn-sm" %></h1>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col">
    
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Ladder</h2>
      </div>
      <div class="mdl-card__supporting-text">

        <table id='ratings' class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Player</th>
              <th class="mdl-data-table__cell--non-numeric">ELO Rating</th>
              <th class="mdl-data-table__cell--non-numeric">W</th>
              <th class="mdl-data-table__cell--non-numeric">L</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: 'rating', collection: @game.all_ratings.select(&:active?) %>
          </tbody>
        </table>
        <%= link_to "View All", game_ratings_path(@game) %>

      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Get Started
        </a>
      </div>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">share</i>
        </button>
      </div>
    </div>

  </div>
  <div class="mdl-cell mdl-cell--6-col">
    
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Recent Results</h2>
      </div>
      <div class="mdl-card__supporting-text">

      <% if @game.recent_results.any? %>
        <%= render partial: 'shared/results', object: @game.recent_results, locals: {show_game: false} %>
      <% else %>
        <span>No results, play some games!</span>
      <% end %>

      </div>
      <div class="mdl-card__actions mdl-card--border">
        <%= link_to "Add Score", new_game_result_path(@game), class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
      </div>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">share</i>
        </button>
      </div>
    </div>

  </div>
</div>



<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col">
    
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Rankings Over Time</h2>
      </div>
      <div class="mdl-card__supporting-text">

        <%= line_chart @chart_data, min: nil, max: nil %>

      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Get Started
        </a>
      </div>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">share</i>
        </button>
      </div>
    </div>    

  </div>
</div>





  <section class="action-buttons">
    <% if @game.results.empty? %>
      <%= link_to "Delete", game_path(@game), method: :delete, confirm: "Are you sure?", class: "btn btn-danger btn-sm" %>
    <% end %>
  </section>

